.app {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 375px;
  height: 667px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
  overflow: hidden;
  transition: background .2s cubic-bezier(0.4, 0.0, 0.2, 1);

  .shader {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    transition: background .2s cubic-bezier(0.4, 0.0, 0.2, 1);
    pointer-events: none;

    &.shaderVisible {
      background: rgba(0, 0, 0, .3);
      pointer-events: initial;
    }
  }
}

.wrapper {
  text-align: center;
  padding: 30% 0;
  color: #FFFFFF;
  transition: filter .2s cubic-bezier(0.4, 0.0, 0.2, 1);
  transform: translateZ(0);

  &.blurred {
    filter: blur(5px);
  }

  .city {
    font-size: 2em;
  }

  .tempWrapper {    
    position: relative;
    margin-top: .5em;
    .temp {
      font-size: 6em;
    }
    .unit {
      height: 100%;
      font-size: 1.5em;
      vertical-align: top;
      display: inline-block;
      margin-top: .75em;
      margin-left: 8px;
    }      
  }

  .date,
  .quote {
    margin: 3em auto 4em auto;
  }

  .quote {    
    width: 80%; 
    font-style: italic;

    p {
      margin: 0;
    }    
    .quoteContent {      
      font-size: 1.25em;
    }
    .quoteAuthor {
      margin-top: 1em;
      display: block;
      text-align: right;

      &:before {
        content: '~';
        margin-right: 0.25em;
      }
    }
  }
}