.icon {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(15%, -15%);
  pointer-events: none;
}

// #
// # SUN
// #
@mixin sun-box-shadow($moveFirst, $moveSecond) {
  box-shadow: 
    0 0 0 1em + $moveFirst rgba(255, 215, 0, .5),
    0 0 .75em + $moveFirst 2em rgba(255, 215, 0, .35),
    0 0 0 2em + $moveSecond rgba(255, 215, 0, .25),
    0 0 .75em + $moveSecond 3em rgba(255, 215, 0, .15);
}
.sun {
  width: 10em;
  height: 10em;
  background: #FFCA00;
  border-radius: 5em;

  @include sun-box-shadow(0, 0);
    
  animation: sun 5s ease-in-out infinite;
}

@keyframes sun {
  from {
    @include sun-box-shadow(0, 0);
  }
  30% {
    @include sun-box-shadow(.3em, .5em);
  }
  60% {
    @include sun-box-shadow(.15em, .3em);
  }
  100% {
    @include sun-box-shadow(0, 0);
  }
}

@mixin moon-crater-shadow($amount) {
  box-shadow: inset $amount $amount 0 0 rgba(0, 0, 0, .1);
}

// #
// # MOON
// #
.moon {
  width: 10em;
  height: 10em;
  background: #CFD8DC;
  border-radius: 5em;
  position: relative;
  zoom: .75;
  
  box-shadow: 
    0 0 5em 1em rgba(207, 216, 220, .75),
    inset -1em -1em 0 0 rgba(0, 0, 0, .05);

  div {
    width: 1em;
    height: 1em;
    background: #8AA1AC;
    border-radius: .5em;
    position: absolute;

    &:nth-of-type(1) {
      left: 2em;
      top: 3em;
      width: 1.5em;
      height: 1.5em;
      border-radius: .75em;
      @include moon-crater-shadow(.25em);
    }
    &:nth-of-type(2) {
      left: 5em;
      top: 5em;
      width: .5em;
      height: .5em;
      border-radius: .25em;
      @include moon-crater-shadow(.05em);
    }
    &:nth-of-type(3) {
      left: 2.5em;
      top: 6.5em;
      width: .75em;
      height: .75em;
      border-radius: .375em;
      @include moon-crater-shadow(.15em);
    }
    &:nth-of-type(4) {
      left: 5.5em;
      top: 7em;
      width: 1em;
      height: 1em;
      border-radius: .5em;
      @include moon-crater-shadow(.2em);
    }
  }
}

// #
// # Rain
// #
.rain {
  width: 10em;
  height: 10em;
  margin-top: -30%;

  div {
    position: absolute;
    background: aqua;
    width: 1px;
    height: 12px;
    opacity: .5;
    transform: translateZ(0);

    &:nth-of-type(odd) {
      animation: rain-drop 0.6s linear infinite;
    }
    &:nth-of-type(even) {
      animation: rain-drop 0.75s linear infinite;
    }
  }
  @keyframes rain-drop {
    from {
      margin-top: -30%;
      opacity: .5;
    }
    to {
      margin-top: 50%;
      opacity: .2;
    }
  }
}

// #
// # Snow
// #
.snow {
  width: 10em;
  height: 10em;
  margin-top: -30%;

  div {
    position: absolute;
    background: #FFFFFF;
    width: 3px;
    height: 3px;
    opacity: .8;
    transform: translateZ(0);
    border-radius: 1.5px;

    &:nth-of-type(odd) {
      animation: snow-flake 1.2s linear infinite;
    }
    &:nth-of-type(even) {
      animation: snow-flake 1.5s linear infinite;
    }
  }
  @keyframes snow-flake {
    from {
      margin-top: -30%;
      opacity: .8;
    }
    to {
      margin-top: 50%;
      opacity: .4;
    }
  }
}